body {
  margin: 0;
  background-color: #222222;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  overflow: hidden;
  transition: background-color 1s ease;
}

.container {
  width: 80vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1vmin;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 5vh;
}

.dot {
  background-color: #ffffff;
  border-radius: 50%;
  place-self: center;
  transition:
    /* i dont understand how this works but this helped a little: https://cubic-bezier.com */
    /* point is to add some "recoil" to the transition */
    transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    background-color 1s ease;

  /* we need vars and a single transform to avoid overwriting transformations */
  --x: 0px;
  --y: 0px;
  --s: 1;

  transform: translate(var(--x), var(--y)) scale(var(--s));
}

/* symmetry is boring */
.dot:nth-child(3n) {
  --x: 5px;
  --y: -10px;
}

.dot:nth-child(7n) {
  --x: -8px;
  --y: 12px;
}

.dot:nth-child(11n) {
  opacity: 0.6;
}

.dot:nth-child(17n) {
  opacity: 0.3;
}

.dot:hover {
  --s: var(--scale-factor);
  /* force the whole transform to reapply because safari is too stupid*/
  transform: translate(var(--x), var(--y)) scale(var(--s));
  /* just cuz */
  cursor: pointer;
}

.s {
  width: 25%;
  height: 25%;
  --scale-factor: 1.8;
}

.m {
  width: 45%;
  height: 45%;
  --scale-factor: 1.5;
}

.l {
  width: 60%;
  height: 60%;
  --scale-factor: 1.25;
}

@media screen and (max-width: 1024px) {
  body {
    background-color: #ffffff;
  }

  .dot {
    background-color: #222222;
  }

  .title {
    color: #222222;
  }
}

.footer {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: clamp(1.2rem, 5vmin, 2.5rem);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  /* (try to) offset letter spacing */
  padding-left: 0.4em;
  letter-spacing: 0.6em;
  transition: color 1s ease;
}
